<!DOCTYPE html>
<html ng-app="NoteWrangler">
  <head>
    <meta charset="utf-8">
    <title>Note Wrangler</title>
    <link rel="stylsheet" href="assets/styles/bootstrap.css"></link>
    <link rel="stylsheet" href="assets/styles/bootstrap-theme.css"></link>
  </head>
  <body>
    <h1>Hello World</h1>
    <div  ng-view></div>
  </body>
  <!--vendor -->
  <script src="assets/javascript/vendor/jquery-2.1.3.min.js"></script>
  <script src="assets/javascript/vendor/angular.js"></script>
  <script src="assets/javascript/vendor/angular-route.js"></script>
  <script src="assets/javascript/vendor/angular-resource.js"></script>
  <script src="assets/javascript/vendor/bootstrap.js"></script>
  <script src="assets/javascript/vendor/ngGravatar.js"></script>
  <!--App  -->
  <script src="assets/javascript/app.js"></script>
  <script src="assets/javascript/routes.js"></script>
  <!-- Directives -->
  <!--Controller  -->
  <script src="assets/javascript/controllers/noteIndexController.js"></script>
  <script src="assets/javascript/controllers/noteShowController.js"></script>
  <script src="assets/javascript/controllers/noteEditController.js"></script>
  <script src="assets/javascript/controllers/noteCreateController.js"></script>

  <!--Services  -->
  <!--  -->

</html>
